.form-horizontal
  = simple_form_for([:admin, @administrator]) do |f|

    .form-inputs
      .control-group
        = f.label :first_name, class: 'control-label'
        .controls= f.input :first_name, label: false

      .control-group
        = f.label :last_name, class: 'control-label'
        .controls= f.input :last_name, label: false

      .control-group
        = f.label :email, class: 'control-label'
        .controls= f.input :email, label: false

      .control-group
        = f.label :password, class: 'control-label'
        .controls= f.input :password, label: false

      .control-group
        = f.label :password_confirmation, class: 'control-label'
        .controls= f.input :password_confirmation, label: false

      .control-group
        = f.label :twitter, class: 'control-label'
        .controls= f.input :twitter, label: false

      .control-group
        = f.label :bio, class: 'control-label'
        .controls= f.input :bio, label: false

      .control-group
        = f.label :photo, class: 'control-label'
        .controls= f.input :photo, label: false

    .form-actions
      = f.button :submit, class: 'btn btn-success'

