
.posts
  = render @posts
  = paginate @posts
  = render 'shared/disqus_comments'

- content_for :sidebar do
  %h6 About this blog
  = CONFIG['meta_description']

  %h6 About David
  .author-bio
    .photo= image_tag Administrator.first.photo.url(:thumb)
    .bio= raw Administrator.first.bio

  %h6 Categories
  - Tag.includes(:posts).order('tags.name asc').each do |tag|
    .tags= link_to "#{tag.name} (#{tag.posts.count})", tag_path(tag)
